
Web/BACKEND/LMS/obj/Debug/netcoreapp3.1/LMS.assets.cache
Web/BACKEND/LMS/obj/Debug/netcoreapp3.1/LMS.csprojAssemblyReference.cache
Web/BACKEND/LMS/obj/LMS.csproj.nuget.dgspec.json
Web/BACKEND/LMS/obj/LMS.csproj.nuget.dgspec.json
Web/BACKEND/LMS/obj/LMS.csproj.nuget.g.props
Web/BACKEND/LMS/obj/Debug/netcoreapp3.1/LMS.assets.cache
Web/BACKEND/LMS/obj/Debug/netcoreapp3.1/LMS.csprojAssemblyReference.cache
Web/BACKEND/LMS/obj/LMS.csproj.nuget.dgspec.json
Web/BACKEND/LMS/obj/LMS.csproj.nuget.g.props
Web/BACKEND/LMS/obj/project.assets.json
Web/BACKEND/LMS/obj/project.nuget.cache
Web/BACKEND/LMS/obj/Debug/netcoreapp3.1/LMS.assets.cache
Web/BACKEND/LMS/obj/project.nuget.cache
Web/BACKEND/LMS/obj/Debug/netcoreapp3.1/LMS.csprojAssemblyReference.cache
Web/BACKEND/LMS/obj/LMS.csproj.nuget.dgspec.json
Web/BACKEND/LMS/obj/Debug/netcoreapp3.1/LMS.csprojAssemblyReference.cache
Web/BACKEND/LMS/obj/Debug/netcoreapp3.1/LMS.csprojAssemblyReference.cache
Web/BACKEND/LMS/obj/project.nuget.cache
Web/BACKEND/LMS/obj/project.assets.json
Web/BACKEND/LMS/obj/LMS.csproj.nuget.g.props
Web/BACKEND/LMS/obj/LMS.csproj.nuget.dgspec.json
Web/BACKEND/LMS/obj/Debug/netcoreapp3.1/LMS.csprojAssemblyReference.cache
Web/BACKEND/LMS/obj/Debug/netcoreapp3.1/LMS.assets.cache
