<div class="feeds">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8 posts ">

                <div class="post">
                    <posts></posts>
                </div>

            </div>
            <div class="col sticky-top create-post">
                <h2>Create Post</h2>
                <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Type your post here" rows="3"></textarea>
                </div>

                <div class="container-fluid upload">
                    <div class="row ">
                        <div class="show-file">
                        </div>
                        <div class="col sh-img">
                            <img src={{url}}>
                        </div>

                        <div class="col">
                            <form [formGroup]="myForm" (ngSubmit)="submit()">
                                <div class="form-group">
                                    <button class="btn-ch-file" type="button" mat-raised-button (click)="fileInput.click()">
                                        Choose File
                                </button>
                                    <input hidden #fileInput formControlName="file" id="file" type="file" class="form-control" (change)="onFileChanged($event)">
                                    <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                                        <div *ngIf="f.file.errors!.required">File is required.</div>
                                    </div>
                                </div>
                                <button class="upload-btn " type="submit">Uplaod Files</button>
                            </form>
                        </div>

                    </div>
                </div>


                <div class="container ch-color ">
                    <div class="row ">
                        <div class="col "><button class="btn btn-1 ">A</button></div>
                        <div class="col "><button class="btn btn-2 ">E</button></div>
                        <div class="col "><button class="btn btn-3 ">M</button></div>
                        <div class="col "><button class="btn btn-4 ">P</button></div>
                        <div class="col "><button class="btn btn-5 ">G</button></div>
                    </div>
                </div>
                <button class="btn btn-post "> Post</button>

            </div>
        </div>
    </div>
</div>
