<div class="container cont-post">
    <div class="row post">
        <div class="personal-img">
            <img src="http://www.jquery-az.com/html/images/banana.jpg" alt="...">
        </div>
        <div class="name">
            <h5 class="name">napil helmy mansor</h5>
            <h5 class="teach">math teacher</h5>
        </div>

    </div>
    <div class="row content">
        <p>


        </p>
        <img src="http://www.jquery-az.com/html/images/banana.jpg" alt="...">
    </div>
    <div class="row ">
        <likes [isActive]="tweet.isLiked" [likeCount]="tweet.likesCount"></likes>
    </div>

</div>